*.event filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.tfevents filter=lfs diff=lfs merge=lfs -text
/rds/general/user/kl3620/home/FYP/fed_sim/save/24_04_2024_20:28:32_1137942/tensorboard/events.out.tfevents.1713986912.cx3-8-12.cx3.hpc.ic.ac.uk filter=lfs diff=lfs merge=lfs -text
